/**
 * @copyright Palace Resorts
 * @author Oscar Eduardo Raygoza <omiramontes@palaceresorts.com>
 * @version v0.1.0
 * @description _icons.scss
 * @creationDate 08/October/2021
 */

.fa {
    display: inline-block;
    background-size: cover;
    position: relative;
}
.fa.fa-arrow {
    filter: invert(100%);
    top: 8px;
    height: 15px;
    width: 15px;
    float: right;
    background-image: url("/public/icons/keyboard-arrow.png");
    &:hover {
        transform: rotate(18deg)
    }
}

.fa.fa-search {
    height: 10px;
    width: 10px;
    background-image: url("/public/icons/icons8-search.svg");
    color: #fff;
    &:hover {
        transform: rotate(18deg)
    }
}
